<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发件箱</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/COMMOM/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/jquery.dialog.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/Style.css"/>

</head>
<body>
<header class="header">
    <nav class="navbar navbar-default" role="navigation" style="background: white;height: 80px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="container">
                    <div class="raw">
                        <div class="col-md-4">
                            <img class="logo" src="__PUBLIC__/Admin/images/logo.png">
                            <font class="word" color="#46b8da" style="font-weight: 800;">I-Learn</font>
                            <a href="{:U('Email/recBox')}" style="text-decoration: none;margin-left: 100px;margin-top: auto;" target="iframe" class="msg-txt">
                                <img style=" width: auto;margin-top: 10px;margin-left: 20px;" src="__PUBLIC__/Common/images/ico06.png"/></a>
                            <a href="{:U('Email/recBox')}" style="text-decoration: none;margin-left: 5px;position: absolute;margin-top: 5px;" target="iframe" class="msg-txt">
                                消息</a>
                            <a href="{:U('Email/recBox')}" target="iframe" class="msg-num" style="text-decoration: none; position: absolute;margin-top: 5px;margin-left: 40px;">0</a>

                            <button type="button" style="margin-top:20px; " class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button></div>
                        <div class="col-md-8">
                            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                                <ul class="nav navbar-nav navbar-right" style="margin-top: 20px;">
                                    <!--li class="ti">
                                        <if condition="$role_id==0">
                                            <a style="margin-left:0;margin-top: 0;  font-size:20px;font-weight: 400;color: #46b8da;">欢迎您S-admin:{$Think.session.username}</a>
                                            <else/><a style="margin-left: 0; font-size:20px;font-weight: 400;color: #46b8da;">欢迎您Admin:{$Think.session.username}</a>
                                        </if></li-->
                                    <li class="ti"><a href="{:U('Index/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">首页</a></li>
                                    <li class="ti"><a href="{:U('Active/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">最新动态</a></li>
                                    <li class="ti"><a href="{:U('Notice/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">最新通知</a></li>
                                    <li class="ti"><a href="{:U('User/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">个人信息</a></li>
                                    <li class="ti"><a href="{:U('Public/logout')}" style="font-size:20px;font-weight: 400;color: #46b8da;">退出</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="1">
    <div style="position: relative;">
        <hr style="margin: 80px 0 0 0; height: 1px; width: auto;background: #46b8da;"/>
        <p id="p1" style="color:white; display: none; position: absolute; text-align:center; margin-left: 30%; margin-top: 100px; font-size: 20px;font-weight: 800;">
            LESS INTERESTS<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            MORE INTEREST.</p>
        <img id="img1" class="image" style="height: 400px;" src="__PUBLIC__/Admin/images/oc_bg.png" alt="1"/>
        <img id="img2"  style="display: none; width: 100%; height: 400px; margin: 0;padding: 0;" src="__PUBLIC__/Admin/images/oc_bg1.png"alt="2"/>
        <img id="img3" style="display:none; width: 100%; height: 400px;" src="__PUBLIC__/Admin/images/oc_bg2.png" alt="3"/>
    </div>
</section>


<!--管理员公告-->
<hr style="margin: 0 0 0 0; height: 1px; width: auto;background: #46b8da;"/>
<section id="2" style="width: 100%;">
    <div class="container"
        <div class="raw">
            <div class="col-md-6">
                <div style="margin-left: 40%;color: #46b8da;font-size: 20px;font-weight: 800;">I-Learn宗旨</div>
                <p style="margin-left: 10%;color: #46b8da;font-size: 15px;font-weight: 400;margin-top: 10px;line-height: 29px;">
                    Less interests, more interest.<br/><br/>
                    少一些功利主义的追求，多一些不为什么的坚持！<br/><br/>
                    I-learn together with you all the time.<br/><br/>
                    I-Learn一直和你在一起。
                </p>
            </div>
            <div class="col-md-6">
                <div style="margin-left: 40%;color: #46b8da;font-weight: 800;font-size: 20px;">美文鉴赏</div>
                <p style="margin-left: 10%;color: #46b8da;font-size: 15px;font-weight: 400;margin-top: 10px;line-height: 25px;">
                    Rember what should be rembered, and forget what should be forgotten .<br/><br/>
                    Alter what is changeable, and accept what is mutable.<br/><br/>
                    Be sure that you have never had any regrets in your life<br/><br/>
                    Apart from tears, only could wear everything away.
                </p>
            </div>
        </div>
    </div>
</section>
<hr style="margin: 20px 0 0 0; height: 1px; width: auto;background: #46b8da;"/>

<!--发件箱功能-->
<section id="3">
    <div class="table-box">
        <table style="width: 100%;position: absolute;" cellspacing="20px;">
            <thead>
            <tr>
                <th class="id">序号</th>
                <th class="name">收件人</th>
                <th class="name">标题</th>
                <th class="file">附件(点击下载)</th>
                <th class="content">内容</th>
                <th class="addtime">发送时间</th>
                <th class="status">状态</th>
                <th class="operate">操作</th>
            </tr>
            </thead>
            <tbody style="margin-top: 10px;width: 100%;">
            <volist name='data' id='vol' style="margin-top: 10px;">
                <tr style="margin-top: 20px;" >
                    <td class="id" style="color: #46b8da;">{$vol.id}</td>
                    <td class="name"  style="color: #46b8da;">{$vol.truename}</td>
                    <td class="name"  style="color: #46b8da;">{$vol.title}</td>
                    <td class="file"  style="color: #46b8da;">
                        <if condition='$vol.hasfile == 1'><a href='__CONTROLLER__/download/id/{$vol.id}'>
                            {$vol.filename}</a></if></td>
                    <td class="content"  style="color: #46b8da;">{$vol.content}</td>
                    <td class="addtime"  style="color: #46b8da;">{$vol.addtime}</td>
                    <td class="status"  style="color: #46b8da;">
                        <if condition='$vol.isread == 0'><span style="color: blue;">未读</span>
                            <else/><span style="color: violet;">已读</span></if>
                    </td>
                    <td class="operate">
                        <a href="javascript:;" class="show" style="color: #46b8da;margin-top: 1px;position: absolute;text-decoration: none;" content="{$vol.content}" data="{$vol.id}" data-title="{$vol.title}" isread="{$vol.isread}">
                            查看</a><font style="margin-left: 30px;position: absolute;">|</font>
                        <a href='javascript:;' class="del"  style="color: #46b8da;position: inherit;margin-top: 2px; margin-left: 35px;text-decoration: none;" data="{$vol.id}" data-title="{$vol.title}" isread="{$vol.isread}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</section>

<footer class="footer">
    <hr style="margin: 80px 0 0 0; height: 1px; width: auto;background: #46b8da;"/>
    <div class="container" >
        <div class="raw">
            <div class="col-md-12" style="margin-left: 10%;">
                <p style="color: white;font-size: 15px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址:重庆市沙坪坝区大学城
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话:123456789
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:(123)456-789
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱:I-Learn@qq.com</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Common/js/index.js"></script>
<script src="__PUBLIC__/Common/js/core.js"></script>
<script src="__PUBLIC__/Common/js/jquery.dialog.js"></script>
<script type="text/javascript">
    $(function() {
        //给查看按钮绑定点击事件
        $('.show').on('click', function() {
            //事件处理程序
            var id = $(this).attr('data');
            var title = $(this).attr('data-title');
            var isread = $(this).attr('isread');
            var content=$(this).attr('content');
            alert("标题："+title+"\n"+"内容："+content);
            layer.open({
                type: 2,
                title: '',
                time:2000,
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['0px', '0px'],
                content: '__CONTROLLER__/getContent/id/' + id,
                end: function(){
                    //处理关闭的操作
                    if(isread == 0){
                        window.location.href =location.href;
                    }
                    else {
                        window.location.href =location.href;
                    }
                }
            });
            //layer.close(index);
        });
    });


    var index=0;
    function Slider() {
        index++;
        var obj1=document.getElementById("img1");
        var obj2=document.getElementById("img2");
        var obj3=document.getElementById("img3");
        var obj4=document.getElementById("p1");
        var m=index%3;
        if(m==0){
            //alert(obj1.getAttribute(src));
            //obj1.setAttribute(src,"__PUBLIC__/Home/images/oc_bg.png");
            //obj1.font="Welcome";
            obj1.style.display="block";
            obj2.style.display="none";
            obj3.style.display="none";

        }
        if(m==1){
            //alert("h")
            obj4.style.display="block";
            obj2.style.display="block";
            obj1.style.display="none";
            obj3.style.display="none";
            //obj1.setAttribute(src,"__PUBLIC__/Home/images/oc_bg1.png");
        }
        if(m==2){
            obj4.style.display="none";
            obj3.style.display="block";
            obj2.style.display="none";
            obj1.style.display="none";
            //alert("3")
            //obj1.setAttribute(src,"__PUBLIC__/Home/images/oc_bg2.png");
        }
        //alert("Message");
    }
    setInterval(Slider,5000);


    //ajax请求方法
    function getMsgCount(){
        //发送ajax请求
        $.get("{:U('Email/getCount')}", function(data) {
            //相应的处理代码
            $('.msg-num').html(data);
            //alert(data);
        });
    }
    //jQuery代码
    $(function(){
        //定时器
        setInterval('getMsgCount()',2000);
    });
</script>
</html>