<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>动态首页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/COMMOM/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMOM/css/info-mgt.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/WdatePicker.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/jquery.dialog.css"/>
    <link rel="stylesheet" href="__PUBLIC__/COMMON/css/layer.css"/>
    <link rel="stylesheet" href="__PUBLIC__/HOME/css/Style.css"/>
    <style type="text/css">


        .name {
            width: 118px;
            padding-left: 17px;
        }

        .content {
            width: 118px;
            padding-left: 17px;
        }
        .description {
            width: 118px;
            padding-left: 17px;
        }


        .addtime {
            width: 160px;
            padding-left: 13px;
        }


    </style>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-default" role="navigation" style="background: white;height: 80px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="container">
                    <div class="raw">
                        <div class="col-md-4">
                            <img class="logo" src="__PUBLIC__/Home/images/logo.png">
                            <font class="word" color="#46b8da" style="font-weight: 800;">I-Learn</font>
                            <a href="{:U('Email/recBox')}" style="text-decoration: none;margin-left: 100px;margin-top: auto;" target="iframe" class="msg-txt">
                                <img style=" width: auto;margin-top: 10px;margin-left: 20px;" src="__PUBLIC__/Common/images/ico06.png"/></a>
                            <a href="{:U('Email/recBox')}" style="text-decoration: none;margin-left: 5px;position: absolute;margin-top: 5px;" target="iframe" class="msg-txt">
                                消息</a>
                            <a href="{:U('Email/recBox')}" target="iframe" class="msg-num" style="text-decoration: none; position: absolute;margin-top: 5px;margin-left: 40px;">0</a>
                            <button type="button" style="margin-top:20px; " class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button></div>
                        <div class="col-md-8">
                            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                                <ul class="nav navbar-nav navbar-right" style="margin-top: 20px;">
                                    <li class="ti"><a href="{:U('Index/index1')}" style="font-size:20px;font-weight: 400;color: #46b8da;">首页</a></li>
                                    <li class="ti"><a href="{:U('Active/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">最新动态</a></li>
                                    <li class="ti"><a href="{:U('Notice/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">最新通知</a></li>
                                    <li class="ti"><a href="{:U('User/index')}" style="font-size:20px;font-weight: 400;color: #46b8da;">个人信息</a></li>
                                    <li class="ti"><a href="{:U('Index/aboutUs1')}" style="font-size:20px;font-weight: 400;color: #46b8da;">关于我们</a></li>
                                    <li class="ti"><a href="{:U('Public/logout')}" style="font-size:20px;font-weight: 400;color: #46b8da;">退出</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<hr style="margin: 80px 0 0 0; height: 1px; width: auto;background: #46b8da;"/>
<!--动态-->
<section id="1" style="margin-top: 20px;">
        <div class="container">
            <div class="raw">
                <div class="col-md-12">
                    <volist name='data' id='vol'>
                        <p>
                        <font class="name" style="color: #46b8da;">发布者：{$vol.author}</font>
                        <font class="addtime"  style="color: black; margin-left: 15%;">发布日期：{$vol.addtime}</font>
                        <br/>
                        <font class="content"  style="color:green;">内容：{$vol.content}</font>
                            <br/>
                            <font class="description"  style="color:green;">描述：{$vol.description}</font>
                        </p>
                            <if condition='$vol.picture==NULL'>
                            <font></font>
                            <else/>
                                <a href='__CONTROLLER__/download/id/{$vol.id}' style="text-decoration: none;color: #46b8da;">
                                    <notempty name='vol.picture'><img src="__PUBLIC__/Upload/{$vol.thumb}" style="width:150px;height: 150px;margin-left: 5%;"/>
                                    </notempty>
                                </a>
                        </if>
                        <if condition="$role_id==2">
                            <if condition='$vol.author eq $username'>
                            <a href="javascript:;" class="del" data="{$vol.id}"  style="margin-left: 85%;font-size:20px;font-weight: 400;color: #46b8da;text-decoration: none;">删除该动态</a>
                                <else/>
                            </if>
                            <else/>
                        </if>
                        <hr style="margin: 20px 0 0 0; height: 1px; width: auto;background: white"/>
                    </volist>
                </div>
            </div>
        </div>
    <!--div class="pagination ue-clear">
        <div class="pagin-list">
                {$show}
        </div>
    </div-->
    <div>
    <if condition="$role_id==2">
        <a href="{:U('Active/deliver')}" style="margin-left: 80%; font-size:20px;font-weight: 400;color: #46b8da;text-decoration: none;">发布动态</a>
        <else/><font></font>
    </if>
    </div>
</section>


<footer class="footer">
    <hr style="margin: 60% 0 0 0; height: 1px; width: auto;background: #46b8da;"/>
    <div class="container">
        <div class="raw">
            <div class="col-md-12" style="margin-left: 10%;">
                <p style="color: white;font-size: 15px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址:重庆市沙坪坝区大学城
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话:123456789
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:(123)456-789
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱:I-Learn@qq.com</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Common/js/index.js"></script>
<script src="__PUBLIC__/Common/js/WdatePicker.js"></script>
<script src="__PUBLIC__/Common/js/core.js"></script>
<script src="__PUBLIC__/Common/js/jquery.dialog.js"></script>
<script src="__PUBLIC__/Common/js/layer.js"></script>


<script type="text/javascript">

    $(function() {
        //给查看按钮绑定点击事件
        $('.show').on('click', function() {
            //事件处理程序
            var id = $(this).attr('data');
            var title = $(this).attr('data-title');
            var isread = $(this).attr('isread');
            var content=$(this).attr('content');
            alert("标题："+title+"\n"+"内容："+content);
            layer.open({
                type: 2,
                title: '',
                time:2000,
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['0px', '0px'],
                content: '__CONTROLLER__/getContent/id/' + id,
                end: function(){
                    //处理关闭的操作
                    if(isread == 0){
                        window.location.href =location.href;
                    }
                    else {
                        window.location.href =location.href;
                    }
                }
            });
            //layer.close(index);
        });
    });
    //jQuery代码
    $(function(){
        //给删除按钮绑定点击事件
        $('.del').on('click',function(){
            var id = $(this).attr('data');
            //带着参数跳转到del方法
            window.location.href = '__CONTROLLER__/del/id/' + id;
        });
    });

    //ajax请求方法
    function getMsgCount(){
        //发送ajax请求
        $.get("{:U('Email/getCount')}", function(data) {
            //相应的处理代码
            $('.msg-num').html(data);
        });
    }
    //jQuery代码
    $(function(){
        //定时器
        setInterval('getMsgCount()',3000);
    });
</script>
</html>